{% extends "templates/web.html" %}

{% block breadcrumbs %}
{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
{% endblock %}

{% block header_actions %}
{% endblock %}

{% block page_content %}
<div class="page-content-block">
	<h3 style="margin-top: 0px;">{{ _("New Payment Method") }}</h3>
	<div class="row">
        <div class="col-md-10">
			<div id="payments-messages" class="mt-2 mb-2"></div>
            <form id="ppm-form" action="#">
				<input id="ppm_party" type="hidden" class="form-control" name="party" value="{{ party }}">
				<input id="ppm_party_type" type="hidden" class="form-control" name="party_type" value="{{ party_type }}">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="payment_type" class="control-label text-muted small">{{ _("Payment Type") }}</label>
                        <select id="ppm_payment_type" class="form-control" name="payment_type" data-label="payment_type" data-fieldtype="Select">
                            {% if party_type == "Customer" %}
                                <option value="Card" selected>{{ _("Card") }}</option>
                                <option value="ACH">{{ _("ACH") }}</option>
                            {% else %}
                                <option value="ACH" selected>{{ _("ACH") }}</option>
                            {% endif %}
						</select>
                    </div>
                    <div class="col-sm-6">
                        <label for="default" class="control-label text-muted small">{{ _("Default") }}</label>
                    	<input id="ppm_default" type="checkbox" class="form-control" name="default">
                    </div>
                </div>
                <div id="card">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="card_number" class="control-label text-muted small">{{ _("Card Number") }}</label>
                            <input id="ppm_card_number" type="text" class="form-control" name="card_number">
                        </div>
                        <div class="col-sm-6">
                            <label for="card_cvc" class="control-label text-muted small">{{ _("CVC") }}</label>
                            <input id="ppm_card_cvc" type="text" class="form-control" name="card_cvc">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="cardholder_name" class="control-label text-muted small">{{ _("Card Holder's Name") }}</label>
                            <input id="ppm_cardholder_name" type="text" class="form-control" name="cardholder_name">
                        </div>
                        <div class="col-sm-6">
                            <label for="card_expiration_date" class="control-label text-muted small">{{ _("Card Expiration Date") }}</label>
                            <input id="ppm_card_expiration_date" type="text" placeholder="2022-12" class="form-control" name="card_expiration_date">
                        </div>
                    </div>
                </div>
                <div id="ach">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="account_holders_name" class="control-label text-muted small">{{ _("Account Holder's Name") }}</label>
                            <input id="ppm_account_holders_name" type="text" class="form-control" name="account_holders_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="routing_number" class="control-label text-muted small">{{ _("Routing Number") }}</label>
                            <input id="ppm_routing_number" type="text" class="form-control" name="routing_number">
                        </div>
                        <div class="col-sm-6">
                            <label for="account_number" class="control-label text-muted small">{{ _("Checking Account Number") }}</label>
                            <input id="ppm_account_number" type="text" class="form-control" name="account_number">
                        </div>
                    </div>
                </div>
				<button type="button" class="btn btn-primary px-4 float-right" id="submit-button">{{ _("Save") }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}