{% extends "templates/web.html" %}

{% block breadcrumbs %}
{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}
{% endblock %}

{% block header_actions %}
{% endblock %}

{% block page_content %}
<div class="page-content-block">
	<h3 style="margin-top: 0px;">{{ _("Edit Payment Method") }}</h3>
	<div class="row">
        <div class="col-md-10">
			<div id="payments-messages" class="mt-2 mb-2"></div>
            <form id="ppm-form" action="#">
				<input id="ppm_name" type="hidden" name="name" value="{{ ppm.name }}">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="mode_of_payment" class="control-label text-muted small">{{ _("Mode of Payment") }}</label>
						<input id="ppm_mode_of_payment" type="text" class="form-control" name="mode_of_payment" readonly value= "{{ ppm.mode_of_payment }}">
                    </div>
                    <div class="col-sm-6">
                        <label for="label" class="control-label text-muted small">{{ _("Label") }}</label>
						<input id="ppm_label" type="text" class="form-control" name="label" value="{{ ppm.label }}">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="default" class="control-label text-muted small">{{ _("Default") }}</label>
                    	<input id="ppm_default" type="checkbox" class="form-control" name="default" {% if ppm.default %} checked {% endif %}>
                    </div>
                    <div class="col-sm-6">
						<label for="service_charge" class="control-label text-muted small">{{ _("Service Charge") }}</label>
						<input id="ppm_service_charge" type="checkbox" class="form-control" name="service_charge" {% if ppm.service_charge %} checked {% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="percentage_or_rate" class="control-label text-muted small">{{ _("Percentage or Rate") }}</label>
						<select id="ppm_percentage_or_rate" class="form-control" name="percentage_or_rate" data-label="percentage_or_rate" data-fieldtype="Select">
							<option value="Percentage" {% if ppm.percentage_or_rate == 'Percentage' %}selected="selected"{% endif %}>{{ _("Percentage") }}</option>
							<option value="Rate" {% if ppm.percentage_or_rate == 'Rate' %}selected="selected"{% endif %}>{{ _("Rate") }}</option>
						</select>
                    </div>
                    <div class="col-sm-3">
                        <label for="percentage" class="control-label text-muted small">{{ _("Percentage") }}</label>
						<input id="ppm_percentage" type="number" class="form-control" name="percentage" value="{{ ppm.percentage }}">
                    </div>
                    <div class="col-sm-3">
                        <label for="rate" class="control-label text-muted small">{{ _("Rate") }}</label>
						<input id="ppm_rate" type="number" class="form-control" name="rate" value="{{ ppm.rate }}">
                    </div>
                </div>
				<button type="button" class="btn btn-primary px-4 float-right" id="submit-button">{{ _("Save") }}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}